<div class="col-md-4 my-5">
	<!--Github Widget-->
	<div class="mb-2">
		<div class="github-card" data-github="boowman" data-width="100%" data-height="auto" data-theme="medium"></div>
		<script src="../../../static/blog/js/widget/github/widget.js"></script>
	</div>
	
	<!--Spotify Widget-->
	<div class="mb-2 card w-100">
		<iframe style="margin-left: 5em; margin-top: 1em" src="https://open.spotify.com/follow/1/?uri=spotify:user:denisz.pop&size=detail&theme=light" width="210" height="75" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
	</div>
	
	<!--Twitter Widget-->
	<script type="text/javascript" src="https://feed.mikle.com/js/fw-loader.js" data-fw-param="87189/"></script>
	
	<!--Instagram Widget-->
</div>