{% extends "../index.html" %}
{% block content %}

<script>
	getClientIP = function(obj){
		user_ip = obj.ip;
	}
</script>
<script type="text/javascript" src="http://jsonip.com/getClientIP"></script>

<div id="top-view">
    <!--Start Header-->
		{% include "../include/header.html" %}
    <!--End Header-->
    <!--Start Most Recent-->
		{% include "../include/most-popular.html" %}
    <!--End Most Recent-->
</div>
<!--End Website Header and Most Recent-->
<!--Start Displaying the arrow at the top of the screen-->
<div id="scroll-to-posts" class="container text-center">
    <a href="#posts-view" id="scroll">
        <div class="row">
            <div class="col-12">
                <span class="align-middle">Intrested in what I have to say, take a look below</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <svg id="i-chevron-bottom" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                        <path d="M30 12 L16 24 2 12" />
                </svg>
            </div>
        </div>  
    </a>    
</div>
<!--End Displaying the arrow at the top of the screen-->
<!--Start Listing all the posts-->
<p></p>
<div class="w-100 bg-light pb-5" id="posts-view">
	<p id="myIp"></p>
    <div class="container">
        <div class="row">
			<!--Start Listing The Posts-->
            <div class="col-md-8">
                <div class="row align-items-center">  
					{% if posts|length > 0 %}
						{% for post in posts %}
							{% if forloop.counter|divisibleby:2 == 0 %}
							<div class="card-deck mt-5">
							{% endif %}
								<div class="card" id="{{ post.title }}">
									<a href="post/{{ post.title }}" title="{{ post.title }}">
										<img class="card-img-top post-image" src="http://127.0.0.1:8000/{{ post.get_banner_url }}" alt="Card image cap">				
									</a>
									<div class="card-body">
										<h5 class="card-title">{{ post.title }}</h5>
										<p class="card-text">{{ post.headerTitle|safe }}</p>
									</div>               
									<blockquote class="blockquote mb-0 card-body align-bottom" style="vertical-align: bottom;">
										<footer class="blockquote-footer">
											<small class="text-muted">
												Posted by <cite title="Source Title"><a href="../author/{{ post.author }}" class="text-info ">{{ post.author }}</a></cite>
											</small>
										</footer>
									</blockquote>         
									<div class="card-footer">
										<div class="float-left ml-4"><small class="text-muted mt-0">{{ post.get_date }}</small></div>
										<div class="float-right">
											<a href="post/{{ post.title }}#comments" class="comment-link text-muted float-right mr-4">
												<img width="20px" style="margin-top: 0px"
												src="../../../static/blog/images/post/comment-normal.png" 
												onmouseover="this.src='../../../static/blog/images/post/comment-hover.png'" 
												onmouseout="this.src='../../../static/blog/images/post/comment-normal.png'" title="View Comments"/>
												<small>{{ post.get_comments_count }}</small>
											</a>
										</div>										
										<div class="float-right" id="like-btn-{{post.id}}" onclick="likePost(this)" data-post-id="{{post.id}}">
											{% include '../include/post_likes.html'%}
										</div>									 
									</div>
								</div>
							{% if forloop.counter|divisibleby:2 == 1 or posts|length == 1 or posts|length == forloop.counter%}
							</div>
							{% endif %}
						{% endfor %}
					{% else %}
						<h1>No posts available!</h1>
					{% endif %}
                </div>
            </div>
			<!--End Listing The Posts-->
            <!--Social Media-->
			<div class="col-md-4 my-5">
				<!--Spotify Widget-->
				<iframe src="https://open.spotify.com/embed?uri=spotify:user:denisz.pop:playlist:4vep7uokGDlZf0ypM00uA4" width="100%" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
				<div class="my-4"></div>

				<!--Twitter Widget-->
				<script type="text/javascript" src="https://feed.mikle.com/js/fw-loader.js" data-fw-param="87189/"></script>
				<div class="my-4"></div>  
				
				<!--Instagram Widget-->
			</div>
			</div>
        </div>
</div>
{% endblock %}