{% block content %}
{% load post_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>LDP Blog - {{ post.title }}</title>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../../../../static/blog/css/bootstrap.css"/>
	<link rel="stylesheet" href="../../../../static/blog/css/post.css"/>
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="../../../../static/blog/js/ajax.js"></script>
</head>
<style>
#navigation-bar{
	width: 100%;
	height: 75px;
}

.header-logo{
	width: 64px;
	height: 64px;
}


@media (max-width: 762px){
	#comments{
		margin-top: 3em !important;
	}
	
	.comment{
		margin-top: 1.5em !important;
	}
}
</style>
<body>
<!--Start Website Background-->
<img id="background" src="http://{{ request.get_host }}/{{ post.get_banner_url }}" alt="Background Image">
<!--End Website Background-->
<!--Start Website Header and Most Recent-->
<div id="top-view" style="position: relative">
	<div id="navigation-bar" class="bg-light">
		{% include "../include/header.html" %}
	</div>
	<div class="w-100" style="position: absolute; top: 0; left: 0; right: 0; margin-top: 75px" height="50px">
		<ul class="w-100" style="list-style: none; margin: 0 auto !important; padding: 0 !important; height: 38px; background-color: #00000087">
		{% for rec_post in posts %}
			{% if rec_post.title == post.title %}	
				<li style="width: 33.33% !important; height: 38px" class="float-left">
					{% if forloop.first %}
						<a href="/post/{{post.get_year}}/{{post.get_month}}/{{posts|last_element}}/" alt="Next Post">
					{% else %}
						<a href="/post/{{post.get_year}}/{{post.get_month}}/{{posts|previous:forloop.counter0}}/" alt="Previous Post">
					{% endif %}
						<button type="button" class="w-100 btn btn-outline-danger" style="border-radius: 0">Previous</button>
					</a>
				</li>
				<li style="width: 33.33% !important; height: 38px" class="float-left">
					<a href="/" alt="Index">
					<button type="button" class="w-100 btn btn-outline-danger" style="border-radius: 0">Home</button>
					</a>
				</li>
				<li style="width: 33.33% !important; height: 38px" class="float-left">
					{% if forloop.last %}
						<a href="/post/{{post.get_year}}/{{post.get_month}}/{{posts.0}}/" alt="Next Post">
					{% else %}
						<a href="/post/{{post.get_year}}/{{post.get_month}}/{{posts|next:forloop.counter0}}/" alt="Next Post">
					{% endif %}
						<button type="button" class="w-100 btn btn-outline-danger" style="border-radius: 0">Next</button>
					</a>
				</li>
			{% endif %}
		{% endfor %}
		</ul>
	</div>
</div>
<!--End Website Header and Most Recent-->
<!--Start Post Container-->
<div class="w-100 bg-light pb-5" id="posts-view">    
    <div class="container">
        <div class="row">
			<!--Start Post Information-->
            <div class="col-md-9">
				<div id="post-info" class="shadow p-3 mb-5 bg-white rounded">
					<p class="text-left font-weight-bold mt-4" style="font-size: 35px">{{ post.title }}</p>
					<p class="text-left"><a href="/author/{{ post.author }}/#posts-view" class="text-info" name="Link"><strong>{{ post.author }}</strong></a>, {{ post.get_full_date }}</p>	
					<div class="mt-3">
						{% for category in post.get_categories %}
							<a href="/category/{{category}}/#posts-view" class="btn btn-outline-dark mt-2">{{category}}</a>
						{% endfor %}
					</div>
					<hr class="mt-4 mb-4">
					<p style="border-left: 10px solid #343a40; font-size: 1.2em !important; font-weight: 500 !important; line-height: 1.5em; padding-left: 30px; margin: 0 0 30px 0 !important;">
						{{ post.headerTitle|safe }}
					</p>
					{{ post.content|safe}}
				</div>
				<!--Start Comments block-->
				<div id="comments" class="shadow p-3 mb-5 bg-white rounded">
					<!--Start Comments Count-->
					<h2 class="font-weight-normal">{{ comments.count }} Comments</h2>
					{% if reply_comment %}
						<h5 class="font-weight-normal mb-4">Leave a comment to {{reply_comment.username}}</h5>
					{% else %}
						<h5 class="font-weight-normal mb-4">Leave a comment</h5>
					{% endif %}
					<!--End Comments Count-->				
					<!--Start Comments Form-->
					<form action="/post/{{post.get_year}}/{{post.get_month}}/{{post.title}}/#comments" method="post">
					{% csrf_token %}
						<div class="form-row">
							{% if reply_comment %}
								<input style="display:none" name="reply_comment" value="{{reply_comment.id}}">
							{% else %}
								<input style="display:none" name="reply_comment" value="">
							{% endif %}
							<div class="col">
								<input type="text" class="form-control" placeholder="*Name" name="username" required>
							</div>
							<div class="col">
								<input type="email" class="form-control" placeholder="*Email" name="email" required>
							</div>
						</div>
						<div class="form-row">
							<div class="col">
								<textarea class="form-control mt-3" placeholder="*Enter Comment..." name="message" required></textarea>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-10">
								<button type="submit" class="btn btn-info mt-3">Post Comment</button>
							</div>
						</div>
					</form>				
					<!--End Comments Form-->
				</div>
				{% for comment in comments %}
					{% if comment.reply_id < 0 %}
						<div class="comment shadow p-3 mb-5 bg-white rounded">
							<h3 style="overflow: hidden">{{comment.username}}</h3>
							<h6>{{comment.get_full_date}} <a href="?replyTo={{comment.id}}#comments" class="text-info">Reply</a></h6>
							<p>{{comment.message|safe}}</p>
						</div>
						<hr>
							{% for reply_comment in comments %}
								{% if reply_comment.reply_id == comment.id %}
									<div class="comment shadow p-3 mb-5 bg-white rounded ml-5">
										<h3 style="overflow: hidden">{{reply_comment.username}}</h3>
										<h6>{{reply_comment.get_full_date}}</h6>
										<p>{{reply_comment.message|safe}}</p>
									</div>
								{% endif %}
							{% endfor %}
					{% endif %}
				{% endfor %}
				<!--End Comments block-->
			</div>
			<!--End Post Information-->
            <!--Start Hierarchy-->
            <div class="col-md-3">
				<div class="row mt-5">
					<h2 style="margin-left: 10px" class="w-100">Share Post</h2>
					<ul id="share-buttons" class="w-100" style="list-style-type: none; text-align: center;">
						<!--Image Variable Location-->
						{% with image_loc="../../../../static/blog/images/social/share/" %}
						<li style="display: inline-block" class="share">
							<a href="{{ post.get_facebook_share }}" alt="Facebook" target="_blank"><img width="38px" 
							src="{{ image_loc }}facebook-display.png" 
							onmouseover="this.src='{{ image_loc }}facebook-hover.png'" 
							onmouseout="this.src='{{ image_loc }}facebook-display.png'" title="Facebook"/></a>     
						</li>
						<li style="display: inline-block" class="share ml-0">
							<a href="{{ post.get_twitter_share }}" alt="Twitter" target="_blank"><img width="38px" 
							src="{{ image_loc }}twitter-display.png"
							onmouseover="this.src='{{ image_loc }}twitter-hover.png'" 
							onmouseout="this.src='{{ image_loc }}twitter-display.png'" title="Twitter"/></a>
						</li>
						<li style="display: inline-block" class="share ml-0">
							<a href="{{ post.get_linkedin_share }}" alt="LinkedIn" target="_blank"><img width="38px" 
							src="{{ image_loc }}linkedin-display.png"
							onmouseover="this.src='{{ image_loc }}linkedin-hover.png'" 
							onmouseout="this.src='{{ image_loc }}linkedin-display.png'" title="LinkedIn"/></a>
						</li>
						<li style="display: inline-block" class="share ml-0">
							<a href="{{ post.get_googlep_share }}" alt="Instagram" target="_blank"><img width="38px" 
							src="{{ image_loc }}googlep-display.png"
							onmouseover="this.src='{{ image_loc }}googlep-hover.png'" 
							onmouseout="this.src='{{ image_loc }}googlep-display.png'" title="GooglePlus"/></a>
						</li>
						<li style="display: inline-block" class="share ml-0">
							<a href="{{ post.get_tumblr_share }}" alt="Instagram" target="_blank"><img width="38px" 
							src="{{ image_loc }}tumblr-display.png"
							onmouseover="this.src='{{ image_loc }}tumblr-hover.png'" 
							onmouseout="this.src='{{ image_loc }}tumblr-display.png'" title="Tumblr"/></a>
						</li>
						<li style="display: inline-block" class="share ml-0">
							<a href="{{ post.get_pinterest_share }}" alt="Instagram" target="_blank"><img width="38px" 
							src="{{ image_loc }}pinterest-display.png"
							onmouseover="this.src='{{ image_loc }}pinterest-hover.png'" 
							onmouseout="this.src='{{ image_loc }}pinterest-display.png'" title="Pinterest"/></a>
						</li>
						{% endwith %}
					</ul>
				</div>
				<div class="row">
					<h2 style="margin-left: 10px" class="w-100">Recent Posts</h2>
					<ul style="list-style-type: none" class="ml-4">
						{% for rec_post in posts %}
							{% if rec_post.title != post.title %}
								<li style="width: 96%;">
									<a href="/post/{{post.get_year}}/{{post.get_month}}/{{ rec_post.title }}/" alt="{{ rec_post.title }}" class="text-info" name="Link">
										<strong>
											<span style="overflow: hidden">{{ rec_post.title }}</span>
										</strong>
									</a><br/>
									<label style="font-size: 13px">{{ rec_post.get_date }}</label>							
								</li>
							{% endif %}
						{% endfor %}
					</ul>
			</div>
			<!--End Hierarchy-->
        </div>
    </div>
</div>
<!--End Post Container-->
{% endblock %}